*.suo
*.bak.png
*.dll
*.pdb
Simple Weather/Simple Weather/Bin
Simple Weather/Simple Weather/obj
Simple Weather/UpdateSimpleWeatherTile/Bin
Simple Weather/UpdateSimpleWeatherTile/obj
Simple Weather/WeatherHelper/obj
